body{
   background-color: #f0f0f0;
}
.img-responsive{
    max-width: 100%;
    width: auto;
    height: auto;
}

p .bienvenue{
    text-align: center;
    border:1px solid red;
}
.blog-header{
    width:100%;
}
h1{
    color:gray;
    font-weight: bold;
}
.welcome{
    color:gray;
    font-weight: bold;
    font-style: italic;
}

nav{
    background-color:#c3e6cb;
}

/* Espace personnel*/

.login{
    width: 500px;
    background-color: #f3f3f3;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 15px;
    margin: auto;
    padding: 15px;
}

.login h2{
    font-family: Verdana, Times, serif;
    font-size: 25px;
    color: #333;
    margin: 0;
    padding:0;
    text-align: center;
}

#container .acces{
    text-align: center;
    margin-bottom: 30px;
}

 #container .champ{
    width: 400px;
    height: 30px;
    border: 1px solid #c3c3c3;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 5px;
    background-color: #e4e4e4;
}

#container .champ:hover{
    background-color: #fff;
    border: 1px solid #000;
}

#container .loginbottom{
    background-color: #d3dfdf;
    padding-top: 35px;
    padding-bottom: 35px;
    border-radius: 5px;
}

#container .bt{
    background-color: #000;
    color: #fff;
    width: 150px;
    height: 50px;
    font-size: 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.5s;
    outline:none;
    margin-bottom: 10px;
}

#container .bt:hover{
    background-color:#0069d9;
    transition: 0.5s;
}

.msg{
    color: red;
    padding:10px;
   /* text-align: justify;*/
    font-size:18px;

}

.login a{
    color: #06F;
    text-decoration: none;
}

.login a:hover{
    text-decoration: underline;
}
/* Fin de l'espace personnel */


.blog-post{
    border:2px solid lightgrey;
    border-radius: 20px;
    margin: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
.blog-post h2{
    font-size:1.2rem;

}
.blog-post .lead{
    font-size:1rem;
    font-style: italic;
}
.blog-post .read{
    font-size: 1rem;
    margin-left: 20px;
    background-color: #c3e6cb;
    text-decoration: none;
}
.blog-post .read a{
    text-decoration: none;
}
/* Debut de #commentaire */
form{
    margin-left:50px;
}
.showChapter{
    margin-left: 100px;
    margin-right: 100px;
    text-align:justify;
    font-style: italic;
}
h2.blog-post-title{
    text-align: center;
    font-weight: bold;
}

p.blog-post-meta{
    text-align: center;
}

.blog-commentaire{
    border:1px solid gray;
}


/* styles pour l'admin */
.table {
    margin-top: 40px;
    text-align: center;
}
.table tr, .table th, .table td{
    border: 1px solid gray;
}

.lead{
    display:inline;
}
.blog-footer{
    background-color: #c3e6cb;
    padding-top: 10px;
    padding-bottom: 10px;
}